################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RecipeBook/v15
/obj/Docker
/.vs/config
/src/RecipeBook.API/obj
/src/RecipeBook.Angular/ClientApp/null
obj
**/**/obj
bin
**/**/bin
/.vs/RecipeBook/DesignTimeBuild
*.csproj.user
