<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3 align-self-center">
      <form style="margin-top: 100px;" [formGroup]="signInForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" [class]="(signInForm.get('username').dirty && signInForm.get('username').errors) ? 'form-control is-invalid': 'form-control'"
            id="username" placeholder="Username" formControlName="username">
          <div class="invalid-feedback">
            <ng-container *ngIf="signInForm.get('username').hasError('required')">
              Please enter your username
            </ng-container>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [class]="(signInForm.get('password').dirty && signInForm.get('password').errors) ? 'form-control is-invalid': 'form-control'"
            id="password" placeholder="Password" formControlName="password">
          <div class="invalid-feedback">
            <ng-container *ngIf="signInForm.get('password').hasError('required')">
              Please enter your password
            </ng-container>
          </div>
        </div>
        <button [disabled]="!signInForm.valid" (click)="signIn()" type="submit" class="btn btn-outline-primary btn-block">Sign In</button>
        <div class="alert alert-danger" role="alert" *ngIf="signUpError">
            {{signUpError}}
        </div>
        
        <p style="margin-top: 50px">Don't have an account yet?</p>
        <button type="button" class="btn btn-outline-success btn-block" routerLink="/signup">Sign Up</button>
      </form>
    </div>
  </div>
</div>