<div class="row">
  <div class="col-6">
    <p class="lead">
      <strong>{{isNew ? 'Add': 'Update'}} Step</strong>
    </p>
    <hr class="my-2">
    <form [formGroup]="updateRecipeStepForm">
      <input type="text" hidden="hidden" formControlName="id" />
      <input type="text" hidden="hidden" formControlName="recipeId" />
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" [class]="(updateRecipeStepForm.get('notes').dirty && updateRecipeStepForm.get('notes').errors) ? 'form-control is-invalid': 'form-control'"
          placeholder="Notes" aria-describedby="helpId" formControlName="notes"></textarea>
        <div class="invalid-feedback">
          <ng-container *ngIf="updateRecipeStepForm.get('notes').hasError('maxlength')">
            Notes has a maximum of 500 characters
          </ng-container>
        </div>
      </div>

      <button [disabled]="!updateRecipeStepForm.valid" (click)="updateRecipeStep()" type="submit" class="btn btn-outline-primary btn-block">{{isNew ? 'Add': 'Update'}}</button>
      <div class="alert alert-danger" role="alert" *ngIf="updateRecipeStepFormError">
        {{updateRecipeStepFormError}}
      </div>
    </form>
  </div>
</div>