<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Recipe Book</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a routerLink="" class="nav-link" href="#">All Recipes</a>
      </li>
      <li class="nav-item" *ngIf="isAuthorized()">
        <a routerLink="my-recipes" class="nav-link" href="#">My Recipes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span style="margin: 5px;" *ngIf="isAuthorized()">
        Hello, {{userFullName()}}!
      </span>
      <button (click)="signInOrOut()" class="btn btn-outline-success my-2 my-sm-0" type="button">{{isAuthorized() ? 'Sign Out' : 'Sign In'}}</button>
    </form>
  </div>
</nav>