<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" value="{{recipe.title}}">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" value="{{recipe.description}}"></textarea>
    </div>
    <div class="form-group">
      <label>Notes</label>
      <textarea class="form-control" value="{{recipe.notes}}"></textarea>
    </div>
  </div>
  <div class="col-6">
    <h5>Instructions</h5>
    <ol class="list-group">
        <li *ngFor="let step of recipe.recipeEntrySteps" class="list-group-item">
          {{step.notes}}
        </li>
      </ol>
  </div>
</div>